/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
  }
  
  /* Preferred box-sizing value */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /*
    Remove list styles (bullets/numbers)
    in case you use it with normalize.css
  */
  ol, ul {
    list-style: none;
  }
  
  /* For images to not be able to exceed their container */
  img {
    max-width: 100%;
  }
  
  /* Removes spacing between cells in tables */
  table {
    border-collapse: collapse;
  }
  
  /* Revert the 'white-space' property for textarea elements on Safari */
  textarea {
    white-space: revert;
  }
  body{
    max-width: 100%;
    margin: 0 20px;
    background: hsl(0, 0%, 100%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }



  #txt {
    border:none;
    outline:none;
}
label[for="txt"] {
    border:solid 1px #d5d5d5;
    padding: 10px;
}


.container{
    max-width: 100%;
    height: 100vh;
    margin: 0 3em;
    text-align: center;
    border: 1px solid white;
}

.wrapper{
    width: 70%;
    margin:2em 10em 0 10em;
    padding: 2em 3em 3em 2em;
    text-align: left;
    border-radius: 7px;
}

.logo{
    margin:1em 0 0.8em 0;
}


h1{
    font-size: 1.4rem;
    margin-left: 0.4em;
}

p{
    font-size: 1rem;
    margin: 1em 0 1.8em 0.7em;
}

.p1{
    font-weight: light;
    font-size: 0.7rem;
    color: #4a4848;
    padding-left: 0.4em;
    margin-bottom: 0.6em;   
}

.p2{
    font-weight: light;
    font-size: 0.7rem;
    color: #4a4848;
    padding-left: 0.4em;
    margin-bottom: 0em;
}

.password{
  margin-bottom: 0em;
}

.checkbox{
    width: 1em;
    border: 2px solid black;
}

.show_pwd{
 position: absolute;
 margin-top: 1em;
 padding-left: 1em;
}

input{
    border: 1px solid rgb(199, 197, 197);
    padding: 0.5em;
    margin: 1em 0 1em 0.7em;
    width: 11.5em;
    border-radius: 3px;
}

.email{
    width: 24em;
    margin-bottom: 0;

}

.login{
    margin-top: 3em;
    padding-left: 0.8em;
    
}

.login a{
    color: blue;
    cursor: pointer;
}

.login button{
    padding: 0.6em 1.5em;
    background-color: rgb(49, 49, 218);
    margin-left: 9em;
    color: white;
    border-radius: 5px;
    font-weight: bolder;
}





section{
    display: flex;
}

section div{
    justify-content: space-between;
}

.banner{
    width: 55%;
    position: relative;
    bottom: 4em;
}

.banner p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    text-align: center;
    
}


.footer{
    display: flex;
    justify-content: space-between;

}

.footer h2{
  margin: 1.3em 0 1em 13em;
  cursor: pointer;
  font-size: 0.8rem;
}

.footer ul{
    margin: 1.3em 15em 1em 0;
  font-size: 0.8rem;

}

.footer li{
    display: inline-block;
    cursor: pointer;
    margin-left: 2em;
}

/** Responsive View **/

@media screen and (max-width:1256px) {
  body{
    max-width: 100%;
    margin: 0 20px;
    background: hsl(0, 0%, 100%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }

  .banner{
    width: 40%;
    position: relative;
    bottom: 2em;
}

.banner p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    text-align: center;
    
}

.email{
  width: 24em;
  margin-bottom: 0;

}


@media screen and (max-width:400px) {
  body{
    max-width: 100%;
    margin: 0;
    background: hsl(0, 0%, 100%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }

  .banner{
    display: none;
  }

  .container{
    margin:0;
    padding: 0;
    height: 100vh; 
  }

  .wrapper{
    width: 100%;
    margin: 0;
    display: hidden;
    padding: 0;
  }
  .logo img{
    margin: 0 auto;
    padding-left: 1em;
  }
  h1{
    padding-left: 0.8em;
  }
  p{
    padding-left: 1em;
    margin-bottom: 1em;
  }
  .p1{
    padding-left: 0.9em;
    margin-bottom: 0.8em;
    margin-top: 0;
    font-size: 0.8rem;
  }
  .p2{
    padding-left: 0.9em;
    margin-bottom: 0.8em;
    margin-top: 0;
    font-size: 0.8rem;
  }
section{
  padding-left: 1em;
  margin-top: 2em;
}

input{
  margin-bottom: 0;
  margin-top: 1.5em;
  width: 90%;
  border-radius: 5px;
}
.email{
  margin-bottom: 0;
  margin-top: 1.5em;
  width: 90%;
  border-radius: 5px;
}

.checkbox{
  margin:0.8em 0 0 1em;
  border: 2px solid black;
  border-radius: 0px;
}

.login{
  margin-bottom: 0;
  
}

.login button{
  padding: 0.6em 1em;
  margin-right: 0.7em;
}

.footer{
  flex-direction: column;
}

.footer h2{
  margin:7em 14em 0 0;
  cursor: pointer;
  font-size: 0.8rem;
}
.footer ul{
  margin: 1.3em 16em 1em 0;
font-size: 0.8rem;

}
.footer li{
  display: inline-block;
  cursor: pointer;
  margin-left: 1.2em;
}
  
}
}
